spring:
  application:
    name: cib-publishing-service
  cloud:
    function:
      definition: basketPriced
    stream:
      default-binder: kafka
      bindings:
        basketPriced-in-0:
          destination: basket.priced
          group: publishing-group
        providerPublished-out-0:
          destination: provider.published
          producer:
            partition-key-expression: headers['partitionKey']
            partition-count: 3
      kafka:
        binder:
          brokers: localhost:9092
          metrics:
            enabled: false # Disable to avoid ConcurrentModificationException in metrics collector
          auto-add-partitions: true
          min-partition-count: 3

server:
  port: 8087

logging:
  level:
    com.pb.synth.cib: DEBUG

cib:
  cache:
    type: in-memory
