spring:
  application:
    name: cib-pricing-service
  cloud:
    function:
      definition: basketListingCompleted;basketDecommissioned
    stream:
      default-binder: kafka
      bindings:
        basketListingCompleted-in-0:
          destination: basket.listing.completed
          group: pricing-group
        basketDecommissioned-in-0:
          destination: basket.decommissioned
          group: pricing-group
        basketPriced-out-0:
          destination: basket.priced
          producer:
            partition-key-expression: headers['partitionKey']
            partition-count: 3
      kafka:
        binder:
          brokers: localhost:9092
          metrics:
            enabled: false # Disable to avoid ConcurrentModificationException in metrics collector
          auto-add-partitions: true
          min-partition-count: 3

server:
  port: 8086

logging:
  level:
    com.pb.synth.cib: DEBUG

cib:
  cache:
    type: in-memory
